*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background: linear-gradient( to right, cyan, blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 10px;
}
input{
    padding: 10px 30px;
    text-align: center;
    border: none;
    border-radius: 30px;
}
h1{
    font-size: 50px;
    color:rgb(161, 245, 193);
}
button{
    padding:10px 20px ;
    border: none;
    border-radius: 5px;
    background-color: #d0ff50;
}
.s{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(161, 245, 193);
    gap:5px;
    margin-top: 100px;
    margin-right: 100px;
}
#result{
    display: flex;
    align-items: end;
    
}
.blut{
    scale: 2;
}